body{
    background-color: gray;
    font-family: fantasy;
}

#title{
    text-align: center;
    color: #1f1150;
    margin-top: 140px;
}

#formulario{
    text-align: center;
    color: #1f1150;
}

@media (max-width: 400px) {
    #title{
        font-size: medium;
    }
    #formulario{
        font-size: small;
    }
}